---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

type Props = HTMLAttributes<"div">;
const { class: className, ...rest } = Astro.props;
---

<div role="separator" class={cn("-mx-1 my-1 h-px bg-border", className)} {...rest}></div>
